defaults: &defaults
  working_directory: ~/project/repo
  docker:
    - image: circleci/node:latest@sha256:62b65d22041a40a504d613070e610cc4b920bfe80f177791d911d8f8109035f6

version: 2
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
          - v1-dependencies-{{ .Branch }}-
          - v1-dependencies-
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: v1-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run: yarn test
      - persist_to_workspace:
          root: ~/project
          paths:
            - repo
  release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run: .circleci/setup-git.sh > /dev/null 2>&1
      - run: yarn semantic-release

workflows:
  version: 2
  test_and_release:
    jobs:
      - test
      - release:
          context: Release
          requires:
            - test
